$color: #3e83c4
$elSize: 80px
$dotSizeFactor: 7
@use 'sass:math'

.loading
  display: inline-block
  position: relative
  width: $elSize
  height: $elSize

  div
    animation: animation 2s cubic-bezier(.69,.1,.69,.88) 5s infinite
    transform-origin: math.div($elSize, 2) math.div($elSize, 2)

    &:after
      content: " "
      display: block
      position: absolute
      width: math.div($dotSizeFactor,80) * $elSize
      height: math.div($dotSizeFactor,80) * $elSize
      border-radius: 50%
      background: $color
      margin: -4,80 * $elSize 0 0 -4,80 * $elSize

    &:nth-child(1)
      animation-delay: -0.036s

      &:after
        top: math.div(63,80) * $elSize
        left: math.div(63,80) * $elSize

    &:nth-child(2)
      animation-delay: -0.072s

      &:after
        top: math.div(68,80) * $elSize
        left: math.div(56,80) * $elSize

    &:nth-child(3)
      animation-delay: -0.108s

      &:after
        top: math.div(71,80) * $elSize
        left: math.div(48,80) * $elSize

    &:nth-child(4)
      animation-delay: -0.144s

      &:after
        top: math.div(72,80) * $elSize
        left: math.div(40,80) * $elSize

    &:nth-child(5)
      animation-delay: -0.18s

      &:after
        top: math.div(71,80) * $elSize
        left: math.div(32,80) * $elSize

    &:nth-child(6)
      animation-delay: -0.216s

      &:after
        top: math.div(68,80) * $elSize
        left: math.div(24,80) * $elSize

    &:nth-child(7)
      animation-delay: -0.252s

      &:after
        top: math.div(63,80) * $elSize
        left: math.div(17,80) * $elSize

    &:nth-child(8)
      animation-delay: -0.288s

      &:after
        top: math.div(56,80) * $elSize
        left: math.div(12,80) * $elSize

@keyframes animation
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)